{% extends 'base.html.twig' %}

{% block title %}Hello StockAdminController!{% endblock %}

{% block body %}
{% for produit in produits %}
    <p class="text-light">{{ produit }}</p>
{% endfor %}
{% for produitQuantite in produitsQuantite %}
    <p class="text-light">{{produitQuantite}}</p>
{% endfor %}
    


{% endblock %}
