{% extends 'base.html.twig' %}

{% block title %}Hello StockAdminController!{% endblock %}

{% block body %}
<h1>
<p class="text-light">Il n'y a pas de commande à retirer dans les 7 prochains jours</p> 
</h1>

{% endblock %}