{% extends 'base.html.twig' %}

{% block title %}Hello StockAdminController!{% endblock %}

{% block body %}
<h1 class="mb-5 ">
<p class="mt-5 text-center dore">Il n'y a pas de commande à retirer dans les 7 prochains jours</p> 
</h1>

{% endblock %}
