{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Mon compte et tout ce qui va avec !</h1>

<a href="{{path('deconnexion')}}" class="btn btn-success " >Se deconnecter</a>
{% endblock %}
