{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="container">
<div class="mt-5  text-light">

<h1 class="text-center dore mb-5">Bienvenue dans votre espace</h1>


<img src="{{ asset('assets/images/box-open-solid.svg')}}" height ="25px" class="couleur-icone me-2"> <a href="{{path('compte-commande')}}"> Mes commandes</a><br> <br>
 <img src="{{ asset('assets/images/key-solid.svg')}}" height ="25px" class="couleur-icone me-2" > <a  href="#"> Modifier mon mot de passe</a> 
<hr>

<a href="{{path('deconnexion')}}" class="btn btn-inscription mt-3 mb-3">Se déconnecter</a>
</div>
</div>
{% endblock %}
